.hero {
  background-image: linear-gradient(#0029539a, #002e5be7), url(hero.png);
  background-size: cover;
  background-position: center;
  height: 728px;
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.navigation-bar {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 80px;
}
.navigation-bar span {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.navigation-bar img {
  height: 48px;
  width: 160px;
}
.dropdown {
  background-color: white;
  border: solid 1px white;
  border-radius: 8px;
  width: 412px;
  padding: 24px 20px 24px 20px;
  position: absolute;
  top: 67px;
  left: 635px;
  z-index: 1;
}
.dropdown-contents {
  display: flex;
  width: 372px;
  height: 72px;
  padding: 12px;
  gap: 16px;
}
.dropdown-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dropdown-title h2 {
  font-size: 16px;
  font-weight: 600;
}
.dropdown-title p {
  font-size: 14px;
  color: #667085;
}
.search-icon {
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.search-bar {
  width: 616px;
  height: 56px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  text-align: center;
}
.hero-title h1 {
  font-size: 48px;
  font-weight: 600;
}
.hero-title p {
  font-size: 20px;
  font-weight: 400;
}
.hero-button {
  background: transparent;
  border: solid 1px #ffe500;
  padding: 16px 28px 16px 28px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hidden {
  display: none;
}
