.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 80px;
  background-color: #f9f9ff;
}
.carousel-content {
  width: 600px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 33.33%;
  height: 37.48px;
  margin-left: 65px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 80px;
}

.right-arrow {
  right: 80px;
}
@media (max-width: 768px) {
  .carousel-images img {
    width: 33.33%;
    height: 20px;
    margin-left: 65px;
  }
}
